@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}
#CardsBox{
  overflow-x: auto;
  & {
    overflow-x: scroll; /* 允许垂直滚动 */
    &::-webkit-scrollbar {
      display: none; /* 对于WebKit浏览器，隐藏滚动条 */
    }
    -ms-overflow-style: none; /* 对于IE和Edge，隐藏滚动条 */
  }
}
@font-face {
  font-family: 'neuemachina';
  src: url('/fonts/neuemachina.otf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'nextposter';
  src: url('/fonts/nextposter.otf') format('truetype');
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
